.letter_place .save {
  align-self: flex-end;
  cursor: pointer;
}

.letter_place .name {
  position: absolute;
  transform: rotate(-2.35deg);
  width: 173.79px;
  height: 41.38px;
  border: none;
  left: 295px;
  top: 633px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #FF0000;
}

.letter_place .name:focus::-webkit-input-placeholder {
  color: transparent;
}

.letter_place .name::-webkit-input-placeholder {
  color: #D2D2D2;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
 } 

.letter_place .nickname {
  position: absolute;
  transform: rotate(-2.35deg);
  width: 173.79px;
  height: 41.38px;
  border: none;
  left: 520px;
  top: 624px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #FF0000;
}

.letter_place .nickname::-webkit-input-placeholder {
  color: #D2D2D2;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
 } 

.letter_place .country {
  position: absolute;
  transform: rotate(-2.35deg);
  width: 173.79px;
  height: 41.38px;
  border: none;
  left: 523px;
  top: 702px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #FF0000;
}

.letter_place .country::-webkit-input-placeholder {
  color: #D2D2D2;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
 } 

.letter_place .city {
  position: absolute;
  transform: rotate(-2.35deg);
  width: 173.79px;
  height: 41.38px;
  border: none;
  left: 298px;
  top: 710.5px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #FF0000;
}

.letter_place .city::-webkit-input-placeholder {
  color: #D2D2D2;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
 } 


 .letter_place .first {
  position: absolute;
  width: 173.79px;
  height: 41.38px;
  border: none;
  left: 504px;
  top: 946px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #FF0000;
}

.letter_place .second {
  position: absolute;
  width: 173.79px;
  height: 41.38px;
  border: none;
  left: 861px;
  top: 830px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #FF0000;
}

.letter_place .third {
  position: absolute;
  width: 173.79px;
  height: 41.38px;
  border: none;
  left: 1245px;
  top: 739px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #FF0000;
}
