.letter_place {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 70px;
  width: 1728px;
  height: 872px;
  color: #ff0000;
}

.save {
  align-self: flex-end;
  cursor: pointer;
}

.name {
  position: absolute;
  transform: rotate(-2.35deg);
  width: 173.79px;
  height: 41.38px;
  border: none;
  left: 295px;
  top: 630px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #ff0000;
}

.name::-webkit-input-placeholder {
  color: transparent;
}

.name:hover::-webkit-input-placeholder {
  color: #d2d2d2;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
}

.nickname {
  position: absolute;
  transform: rotate(-2.35deg);
  width: 173.79px;
  height: 41.38px;
  border: none;
  left: 520px;
  top: 621px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #ff0000;
}

.nickname::-webkit-input-placeholder {
  color: transparent;
}

.nickname:hover::-webkit-input-placeholder {
  color: #d2d2d2;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
}

.country {
  position: absolute;
  transform: rotate(-2.35deg);
  width: 173.79px;
  height: 41.38px;
  border: none;
  left: 523px;
  top: 698.5px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #ff0000;
}

.country::-webkit-input-placeholder {
  color: transparent;
}

.country:hover::-webkit-input-placeholder {
  color: #d2d2d2;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
}

.city {
  position: absolute;
  transform: rotate(-2.35deg);
  width: 173.79px;
  height: 41.38px;
  border: none;
  left: 298px;
  top: 707.5px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #ff0000;
}

.city::-webkit-input-placeholder {
  color: transparent;
}

.city:hover::-webkit-input-placeholder {
  color: #d2d2d2;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
}

.first {
  position: absolute;
  width: 173.79px;
  height: 41.38px;
  border: none;
  left: 504px;
  top: 946px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #ff0000;
}

.second {
  position: absolute;
  width: 173.79px;
  height: 41.38px;
  border: none;
  left: 861px;
  top: 830px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #ff0000;
}

.third {
  position: absolute;
  width: 173.79px;
  height: 41.38px;
  border: none;
  left: 1245px;
  top: 739px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #ff0000;
}

.flex_btn {
  display: flex;
  justify-content: flex-end;
}

.form_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
