.slider {
  position: relative;
  width: 100%;
  height: 1000px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider_img {
  position: absolute;
  width: 100%;
  /* height: 500px; */
  transition: all 1.5s;
  /* transform: rotate(-2.35deg); */
}

.slider_img_prev {
  transform: translateX(100%);
}

.slider_img_next {
  transform: translateX(-100%);
}
