.game_field {
  position: absolute;
  height: 1200px;
  width: 1500px;
  right: 0px;
  top: 0px;
  border: 1px solid red;
  z-index: 1;
  overflow: hidden;
}


.falling_block {
  position: relative;
  /* top: -160px; понять, что это такое */
  left: 940px;
  height: 591px;
  width: 591px;
  z-index: 1;
  transition: top 2s, transform 1s, left 1s;
  border: 1px solid rgb(0, 47, 255);

  shape-outside: polygon(207px 393px, 6px 391px, 0px 0px, 591px 0px, 591px 388px, 395px 391px, 390px 585px, 210px 586px);
  clip-path: polygon(0px 397px, 0px 0px, 594px 0px, 594px 594px, 200px 594px, 198px 403px);
  background-color: cornflowerblue;

  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);

  /* animation-duration: 20s;
  animation-name: fall_down;
  animation-iteration-count: 1; */
}

.svg_falling{
  margin-top: 215px;
  margin-left: 24px;
}

#svg {
  clip-path: polygon(-2px 164px, 0px 0px, 548px 0px, 549px 160px, 352px 164px, 356px 354px, 190px 354px, 190px 164px);
}

.rotate_0 {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}

.rotate_90 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

.rotate_180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.rotate_270 {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
}

.hidden_block {
  height: 172px;
  width: 1500px;
  bottom: 0px;
  border: 1px solid blue;
  background-color: blue;
  z-index: 1;
}



@keyframes fall_down {
  0% {
    top: -160px;
  }
  25% {
    top: 0px;
  }
  50% {
    top: 172px;
  }
  75% {
    top: 352px;
  }
  100% {
    top: 520px;
  }
}


.controller_block {
  width: 401px;
  height: 83px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  clip-path: polygon(0px 313px, -397px 308px, -394px 94px, -4px 90px, 0px 0px, 1502px 0px, 1502px 1202px, 0px 1202px);
}
