.game_field {
  position: absolute;
  height: 1200px;
  width: 1500px;
  right: 0px;
  top: 0px;
  border: 1px solid red;
  z-index: 1;
  overflow: hidden;
}


.falling_block {
  position: relative;
  top: -160px;
  left: 940px;
  height: 591px;
  width: 591px;
  z-index: 1;
  transition: top 2s, transform 1s, left 1s;
  border: 1px solid rgb(0, 47, 255);

  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);

  /* animation-duration: 20s;
  animation-name: fall_down;
  animation-iteration-count: 1; */
}

.svg_falling{
  margin-top: 215px;
  margin-left: 24px;
}

.rotate_0 {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}

.rotate_90 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

.rotate_180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.rotate_270 {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
}

.hidden_block {
  height: 172px;
  width: 1500px;
  bottom: 0px;
  border: 1px solid blue;
  background-color: blue;
  z-index: 1;
}


@keyframes fall_down {
  0% {
    top: -160px;
  }
  25% {
    top: 0px;
  }
  50% {
    top: 172px;
  }
  75% {
    top: 352px;
  }
  100% {
    top: 520px;
  }
}
