.form_block {
  margin: 134px auto 0 auto;
  width: 1610px;
  height: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form_block .form_block_passport {
  align-self: center;
}

.form_block .form_block_save {
  align-self: flex-end;
}

.form_block_date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  height: 39.09px;
  width: 437.58px;
  left: 1394.24px;
  top: 883.72px;
  font-size: 3.25rem;
  transform: rotate(90deg);
}

.form_block_info {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 1490px;
  height: 105.73px;
  left: 208.24px;
  top: 1193px;
  font-size: 2rem;
}

.surname {
  position: absolute;
  width: 556.79px;
  height: 41.38px;
  border: none;
  left: 913px;
  top: 555px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #ff0000;
}

.name {
  position: absolute;
  width: 622.79px;
  height: 41.38px;
  border: none;
  left: 848px;
  top: 638px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #ff0000;
} 

.patronymic {
  position: absolute;
  width: 574.79px;
  height: 41.38px;
  border: none;
  left: 909px;
  top: 722px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #ff0000;
}


.gender {
  position: absolute;
  width: 288.79px;
  height: 41.38px;
  border: none;
  left: 844px;
  top: 812px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #ff0000;
}

.birth {
  position: absolute;
  width: 201.79px;
  height: 41.38px;
  border: none;
  left: 1295px;
  top: 812px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #ff0000;
}

.born {
  position: absolute;
  width: 495.79px;
  height: 41.38px;
  border: none;
  left: 1002px;
  top: 891px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #ff0000;
}

.phone {
  position: absolute;
  width: 595.79px;
  height: 41.38px;
  border: none;
  left: 902px;
  top: 975px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #ff0000;
}  

.email {
  position: absolute;
  width: 595.79px;
  height: 41.38px;
  border: none;
  left: 902px;
  top: 975px;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  background-color: transparent;
  color: #ff0000;
}  
