.link_layer {
  position: absolute;
  height: 1156px;
  width: 1850px;
  top: 0px;
  border: 1px solid blue;
  z-index: 5;
}

.link_about {
  height: 167px;
  width: 167px;
  border: 1px solid rgb(255, 0, 255);
  margin-top: 987px;
  margin-left: 1680px;
  z-index: 5;
}
