.header {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding: 0.3125rem 1.6rem 0 0;
  height: 140px;
  /* background: yellow; */
}

.logo { 
  margin-top: -7px;
  height: 4rem;
}

.logo_descr {
  margin: 0;
  line-height: 2rem;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
}
