.header {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.4rem 0 0;
  height: 106px;
  /* background: yellow; */
}

.logo { 
  margin: 0;
  line-height: 3.5rem;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;  
  font-size: 5rem;
}

.logo_descr {
  margin: 0;
  line-height: 2.5rem;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
}
